version: "3.7"

services:
  redis:
    image: redis
    command:
      - /bin/sh
      - -c
      - >-
        test -n "$${REDIS_PASSWORD}" &&
        exec redis-server
        --port "$${REDIS_PORT:-6379}"
        --requirepass "$${REDIS_PASSWORD}"
    volumes:
      - ./redis_data:/root/redis
    networks:
      - traefik_overlay
    environment:
      REDIS_DATABASES: 16
      REDIS_PORT: {{ REDIS_PORT | default('6379', true) | to_json }}
      REDIS_PASSWORD: {{ REDIS_PASSWORD | to_json }}
    deploy:
      update_config:
        order: start-first
      placement:
        constraints:
          - node.role == manager

networks:
  traefik_overlay:
    external: true
