{% if HOST_SERVICE_URL is defined and HOST_SERVICE_URL | length > 0  %}
NEXT_PUBLIC_HOST_SERVICE_URL=https://{{ HOST_SERVICE_URL }}
HOST_SERVICE_URL=http://host:3000
{% endif %}

{% if SERVICE_URL is defined and SERVICE_URL | length > 0 %}
API_SERVICE_URL=http://api:4000
{% endif %}

{% if DATABASE_HOST is defined and DATABASE_HOST | length > 0 %}
{% else %}
DATABASE_PORT=5432
DATABASE_HOST=postgres
DATABASE_NO_SSL=true
DATABASE_NAME={{ DATABASE_NAME }}
DATABASE_USERNAME={{ DATABASE_USERNAME }}
DATABASE_PASSWORD={{ DATABASE_PASSWORD }}
{% endif %}

RBAC_JWT_SECRET={{ RBAC_JWT_SECRET }}
RBAC_SECRET_KEY={{ RBAC_SECRET_KEY }}
RBAC_COOKIE_SESSION_SECRET={{ RBAC_COOKIE_SESSION_SECRET }}

{% if AWS_ACCESS_KEY_ID is defined and AWS_ACCESS_KEY_ID | length > 0 %}
AWS_ACCESS_KEY_ID={{ AWS_ACCESS_KEY_ID }}
AWS_SECRET_ACCESS_KEY={{ AWS_SECRET_ACCESS_KEY }}
AWS_REGION={{ AWS_REGION }}
AWS_SES_FROM_EMAIL={{ AWS_SES_FROM_EMAIL }}
{% endif %}

{% if AWS_S3_BUCKET is defined and AWS_S3_BUCKET | length > 0  %}
AWS_S3_BUCKET={{ AWS_S3_BUCKET }}
{% endif %}

{% if BLOB_READ_WRITE_TOKEN is defined and BLOB_READ_WRITE_TOKEN | length > 0 %}
BLOB_READ_WRITE_TOKEN={{ BLOB_READ_WRITE_TOKEN }}
{% endif %}

{% if STRIPE_SECRET_KEY is defined and STRIPE_SECRET_KEY | length > 0 %}
STRIPE_SECRET_KEY={{ STRIPE_SECRET_KEY }}
{% if SERVICE_URL is defined and SERVICE_URL | length > 0  %}
STRIPE_RETURN_URL=https://{{ SERVICE_URL }}
{% endif %}
{% endif %}

{% if O_X_PROCESSING_SHOP_ID is defined and O_X_PROCESSING_SHOP_ID | length > 0 %}
O_X_PROCESSING_SHOP_ID={{ O_X_PROCESSING_SHOP_ID }}
O_X_PROCESSING_WEBHOOK_PASSWORD={{ O_X_PROCESSING_WEBHOOK_PASSWORD }}
{% if SERVICE_URL is defined and SERVICE_URL | length > 0  %}
O_X_PROCESSING_RETURN_URL=https://{{ SERVICE_URL }}
{% endif %}
{% endif %}

{% if O_X_PROCESSING_TEST_PAYMENTS is defined and O_X_PROCESSING_TEST_PAYMENTS | length > 0 %}
O_X_PROCESSING_TEST_PAYMENTS={{ O_X_PROCESSING_TEST_PAYMENTS }}
{% endif %}

{% if REDIS_PASSWORD is defined and REDIS_PASSWORD | length > 0 %}
KV_PROVIDER=redis
KV_PASSWORD={{ REDIS_PASSWORD }}
KV_HOST=redis
KV_PORT={{ REDIS_PORT or '6379' }}
MIDDLEWARE_HTTP_CACHE=true
KV_TTL=86400
{% endif %}

{% if PAYSELECTION_SECRET_KEY is defined and PAYSELECTION_SECRET_KEY | length > 0 %}
PAYSELECTION_SECRET_KEY={{ PAYSELECTION_SECRET_KEY }}
PAYSELECTION_WEBHOOK_URL={{ PAYSELECTION_WEBHOOK_URL }}
{% endif %}

{% if TELEGRAM_SERVICE_BOT_TOKEN is defined and TELEGRAM_SERVICE_BOT_TOKEN | length > 0 %}
TELEGRAM_SERVICE_BOT_TOKEN={{ TELEGRAM_SERVICE_BOT_TOKEN }}
TELEGRAM_SERVICE_BOT_USERNAME={{ TELEGRAM_SERVICE_BOT_USERNAME }}
{% endif %}

{% if PAYKEEPER_BASE_URL is defined and PAYKEEPER_BASE_URL | length > 0 %}
PAYKEEPER_BASE_URL={{ PAYKEEPER_BASE_URL }}
PAYKEEPER_API_KEY={{ PAYKEEPER_API_KEY }}
PAYKEEPER_WEBHOOK_PASSWORD={{ PAYKEEPER_WEBHOOK_PASSWORD }}
PAYKEEPER_WEBHOOK_URL={{ PAYKEEPER_WEBHOOK_URL }}
PAYKEEPER_WEBHOOK_SECRET={{ PAYKEEPER_WEBHOOK_SECRET }}
{% endif %}