import * as pgCore from "drizzle-orm/pg-core";
import { fields } from "./fields";

const moduleName = "<%= module_name_cutted_snake_cased %>";
const table = "<%= table_name %>";

const pgTable = pgCore.pgTableCreator(
  (name) => `${moduleName}_${name}`,
);

export const Table = pgTable(table, {
  ...fields
});