COMPOSE_PROJECT_NAME=singlepagestartup

# To prevent creating dump on commit
CREATE_DUMP_ON_COMMIT=false

POSTGRES_DB=sps
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432

# The role apps/api connects as, created by create_application_role.sh on the
# first start of an empty db_data. It owns POSTGRES_DB and is not a superuser.
DATABASE_USERNAME=sps
DATABASE_PASSWORD=password

ADMINER_PORT=8080