{% if API_SERVICE_URL is defined and API_SERVICE_URL | length > 0 %}
API_SERVICE_URL=http://api:4000
NEXT_PUBLIC_API_SERVICE_URL=https://{{ API_SERVICE_URL }}
{% endif %}

TELEGRAM_SERVICE_BOT_TOKEN={{ TELEGRAM_SERVICE_BOT_TOKEN }}
TELEGRAM_SERVICE_BOT_USERNAME={{ TELEGRAM_SERVICE_BOT_USERNAME }}

{% if TELEGRAM_SERVICE_REQUIRED_SUBSCRIPTION_CHANNEL_ID is defined and TELEGRAM_SERVICE_REQUIRED_SUBSCRIPTION_CHANNEL_ID | length > 0 %}
TELEGRAM_SERVICE_REQUIRED_SUBSCRIPTION_CHANNEL_ID={{ TELEGRAM_SERVICE_REQUIRED_SUBSCRIPTION_CHANNEL_ID }}
TELEGRAM_SERVICE_REQUIRED_SUBSCRIPTION_CHANNEL_NAME={{ TELEGRAM_SERVICE_REQUIRED_SUBSCRIPTION_CHANNEL_NAME }}
TELEGRAM_SERVICE_REQUIRED_SUBSCRIPTION_CHANNEL_LINK={{ TELEGRAM_SERVICE_REQUIRED_SUBSCRIPTION_CHANNEL_LINK }}
{% endif %}

{% if SERVICE_URL is defined and SERVICE_URL | length > 0  %}
TELEGRAM_SERVICE_URL=http://telegram:8000
NEXT_PUBLIC_TELEGRAM_SERVICE_URL=https://{{ SERVICE_URL }}
{% endif %}

RBAC_SECRET_KEY={{ RBAC_SECRET_KEY }}
RBAC_JWT_SECRET={{ RBAC_JWT_SECRET }}
RBAC_JWT_TOKEN_LIFETIME_IN_SECONDS={{ RBAC_JWT_TOKEN_LIFETIME_IN_SECONDS }}