import { IComponentProps } from "./interface";
import { Component as ParentComponent } from "@sps/shared-frontend-components/singlepage/admin-v2/table-row";
import { Component as ChildComponent } from "./Component";

export function Component(props: IComponentProps) {
  return <ParentComponent Component={ChildComponent} {...props} />;
}
