############################
# Hono
############################
out
build
.env
.env*.local
.env*.testing

############################
# Testing
############################
coverage

############################
# Cloudflare Tunel
############################
config.yml