version: "3.8"

services:
  devcontainer:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ../..:/workspaces:cached
    command: sleep infinity
    ports:
      - "3000:3000" # host
      - "8080:8080" # adminer
      - "5432:5432" # postgres
      - "6379:6379" # redis
      - "8000:8000" # telegram
      - "4000:4000" # backend
