OLLAMA_URL=http://ollama:11434
OLLAMA_MODEL_IDS={{ OLLAMA_MODEL_IDS | default('nomic-embed-text', true) }}

{% if OPENAI_API_KEY is defined and OPENAI_API_KEY | length > 0 %}
OPENAI_API_KEY={{ OPENAI_API_KEY }}
{% endif %}
{% if OPEN_AI_API_KEY is defined and OPEN_AI_API_KEY | length > 0 %}
OPEN_AI_API_KEY={{ OPEN_AI_API_KEY }}
{% endif %}
{% if ANTHROPIC_API_KEY is defined and ANTHROPIC_API_KEY | length > 0 %}
ANTHROPIC_API_KEY={{ ANTHROPIC_API_KEY }}
{% endif %}
{% if HF_TOKEN is defined and HF_TOKEN | length > 0 %}
HF_TOKEN={{ HF_TOKEN }}
{% endif %}

LLM_PRELOAD_MODEL_IDS={{ LLM_PRELOAD_MODEL_IDS | default('', true) }}
LLM_MAX_LOADED_HF_MODELS={{ LLM_MAX_LOADED_HF_MODELS | default('1', true) }}
WHISPER_MODEL={{ WHISPER_MODEL | default('openai/whisper-small', true) }}
WHISPER_DEVICE={{ WHISPER_DEVICE | default('cpu', true) }}
WHISPER_COMPUTE_TYPE={{ WHISPER_COMPUTE_TYPE | default('int8', true) }}
