import "reflect-metadata";
import { injectable } from "inversify";
import { CRUDService } from "@sps/shared-backend-api";
import { Table } from "<%= relation_repository_database_import_path %>";

@injectable()
export class Service extends CRUDService<(typeof Table)["$inferSelect"]> {}
