{% if SERVICE_URL is defined and SERVICE_URL | length > 0  %}
NEXT_PUBLIC_HOST_SERVICE_URL=https://{{ SERVICE_URL }}
{% endif %}

{% if API_SERVICE_URL is defined and API_SERVICE_URL | length > 0 %}
API_SERVICE_URL=http://api:4000
NEXT_PUBLIC_API_SERVICE_URL=https://{{ API_SERVICE_URL }}
NEXT_PUBLIC_API_SERVICE_WS_URL=wss://{{ API_SERVICE_URL }}
{% endif %}

{% if PAYSELECTION_SECRET_KEY is defined and PAYSELECTION_SECRET_KEY | length > 0 %}
NEXT_PUBLIC_PAYSELECTION_SITE_ID={{ PAYSELECTION_SITE_ID }}
NEXT_PUBLIC_PAYSELECTION_SITE_NAME={{ PAYSELECTION_SITE_NAME }}
NEXT_PUBLIC_PAYSELECTION_PUBLIC_KEY={{ PAYSELECTION_PUBLIC_KEY }}
{% endif %}

{% if GOOGLE_TAG_MANAGER_ID is defined and GOOGLE_TAG_MANAGER_ID | length > 0 %}
NEXT_PUBLIC_GOOGLE_TAG_MANAGER_ID={{ GOOGLE_TAG_MANAGER_ID }}
{% endif %}

{% if GOOGLE_ANALYTICS_ID is defined and GOOGLE_ANALYTICS_ID | length > 0 %}
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID={{ GOOGLE_ANALYTICS_ID }}
{% endif %}