name: Build Docker image

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      TAG:
        required: true
        type: string
      PRERELEASE:
        required: true
        type: boolean

jobs:
  build-docker-image:
    name: Build Docker image
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Set environment variables based on PRERELEASE
        run: |
          if [ "${{ inputs.PRERELEASE }}" = "true" ]; then
            echo "IMAGE_URL=${{ secrets.PREVIEW_DOCKER_HUB_URL }}/${{ secrets.PREVIEW_HOST_SERVICE_DOCKER_HUB_REPOSITORY_NAME }}" >> $GITHUB_ENV
            echo "DOCKER_HUB_URL=${{ secrets.PREVIEW_DOCKER_HUB_URL }}" >> $GITHUB_ENV
            echo "DOCKER_HUB_USERNAME=${{ secrets.PREVIEW_DOCKER_HUB_USERNAME }}" >> $GITHUB_ENV
            echo "DOCKER_HUB_PASSWORD=${{ secrets.PREVIEW_DOCKER_HUB_PASSWORD }}" >> $GITHUB_ENV
            echo "NEXT_PUBLIC_API_SERVICE_URL=${{ secrets.PREVIEW_NEXT_PUBLIC_API_SERVICE_URL }}" >> $GITHUB_ENV
            echo "NEXT_PUBLIC_API_SERVICE_WS_URL=${{ secrets.PREVIEW_NEXT_PUBLIC_API_SERVICE_WS_URL }}" >> $GITHUB_ENV
            echo "NEXT_PUBLIC_HOST_SERVICE_URL=${{ secrets.PREVIEW_NEXT_PUBLIC_HOST_SERVICE_URL }}" >> $GITHUB_ENV
            echo "YANDEX_METRIKA_ID=${{ secrets.PREVIEW_YANDEX_METRIKA_ID }}" >> $GITHUB_ENV
          else
            echo "IMAGE_URL=${{ secrets.DOCKER_HUB_URL }}/${{ secrets.HOST_SERVICE_DOCKER_HUB_REPOSITORY_NAME }}" >> $GITHUB_ENV
            echo "DOCKER_HUB_URL=${{ secrets.DOCKER_HUB_URL }}" >> $GITHUB_ENV
            echo "DOCKER_HUB_USERNAME=${{ secrets.DOCKER_HUB_USERNAME }}" >> $GITHUB_ENV
            echo "DOCKER_HUB_PASSWORD=${{ secrets.DOCKER_HUB_PASSWORD }}" >> $GITHUB_ENV
            echo "NEXT_PUBLIC_API_SERVICE_URL=${{ secrets.NEXT_PUBLIC_API_SERVICE_URL }}" >> $GITHUB_ENV
            echo "NEXT_PUBLIC_API_SERVICE_WS_URL=${{ secrets.NEXT_PUBLIC_API_SERVICE_WS_URL }}" >> $GITHUB_ENV
            echo "NEXT_PUBLIC_HOST_SERVICE_URL=${{ secrets.NEXT_PUBLIC_HOST_SERVICE_URL }}" >> $GITHUB_ENV
            echo "YANDEX_METRIKA_ID=${{ secrets.YANDEX_METRIKA_ID }}" >> $GITHUB_ENV
          fi
      - name: Login to registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.DOCKER_HUB_URL }}
          username: ${{ env.DOCKER_HUB_USERNAME }}
          password: ${{ env.DOCKER_HUB_PASSWORD }}
          logout: false

      - if: ${{ inputs.PRERELEASE == true }}
        name: Build image for pre-release
        uses: docker/build-push-action@v5
        with:
          context: ./
          push: true
          tags: |
            ${{ env.IMAGE_URL }}:${{ inputs.TAG }}
          build-args: |
            NEXT_PUBLIC_API_SERVICE_URL=${{ env.NEXT_PUBLIC_API_SERVICE_URL }}
            NEXT_PUBLIC_HOST_SERVICE_URL=${{ env.NEXT_PUBLIC_HOST_SERVICE_URL }}
            NEXT_PUBLIC_API_SERVICE_WS_URL=${{ env.NEXT_PUBLIC_API_SERVICE_WS_URL }}
            YANDEX_METRIKA_ID=${{ env.YANDEX_METRIKA_ID }}

      - if: ${{ inputs.PRERELEASE == false }}
        name: Build image for release
        uses: docker/build-push-action@v5
        with:
          context: ./
          push: true
          tags: |
            ${{ env.IMAGE_URL }}:${{ inputs.TAG }}
            ${{ env.IMAGE_URL }}:latest
          build-args: |
            NEXT_PUBLIC_API_SERVICE_URL=${{ env.NEXT_PUBLIC_API_SERVICE_URL }}
            NEXT_PUBLIC_HOST_SERVICE_URL=${{ env.NEXT_PUBLIC_HOST_SERVICE_URL }}
            NEXT_PUBLIC_API_SERVICE_WS_URL=${{ env.NEXT_PUBLIC_API_SERVICE_WS_URL }}
            YANDEX_METRIKA_ID=${{ env.YANDEX_METRIKA_ID }}
